@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');

@import "tailwindcss";

.nova-oval-regular {
  font-family: "Nova Oval", system-ui;
  font-weight: 400;
  font-style: normal;
}
